<div class="container text-white" id="home-container">
  <div class="jumbotron container my-5 mx-5">
    <h1 id="alpha-blog">Alpha blog</h1>
     <a class="btn btn-success btn-lg text-center " id='sing-up-button' href="#" role="button">Sign up!</a>
  </div>
</div>

 <footer>Hey, I'm the fixed footer :)</footer>